version: "3.7"
services:
  app:
    build:
      args:
        user: festconnect
        uid: 1000
      context: ./
      dockerfile: Dockerfile
    image: festconnect-app
    container_name: festconnect-app
    restart: unless-stopped
    working_dir: /var/www/
    volumes:
      - ./:/var/www
    networks:
      - festconnect-network
  db:
    image: mysql:8.0
    container_name: festconnect-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    volumes:
      - ./docker-compose/mysql:/docker-entrypoint-initdb.d
    networks:
      - festconnect-network
  nginx:
    image: nginx:alpine
    container_name: festconnect-nginx
    restart: unless-stopped
    ports:
      - 8000:80
    volumes:
      - ./:/var/www
      - ./docker-compose/nginx:/etc/nginx/conf.d/
    networks:
      - festconnect-network
networks:
  festconnect-network:
    driver: bridge
