body { background: linear-gradient(90deg, rgba(31,31,31,1) 0%, rgba(12,34,54,1) 100%); width: 100%; }

header { 
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0,0,0,0.5);
}

.shadow_lg{
    text-shadow: 5px 5px 10px rgba(0,0,0,0.8);
    font-size: 1.9rem;
    line-height: 1.75rem;
    flex-direction: column;
}

.bg_top {
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    text-align: center;
    width: 100%;
    height: 60vh;
    margin: 20px 0;
    padding-top: 100px;
    position: relative;

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}


.missed_text {
    text-wrap: pretty;
}
.imText {
    display: inline;
    position: relative;
}

/* ====== FORM STYLES ======= */
#missed_connection_form div {
    padding: 5px;
    margin: 2px;
    border-bottom: 1px solid #666;
}
#missed_connection_form div:last-child {
    border-bottom: none;
}
#missed_connection_form label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    width: 400px;
    text-align: left;
    margin: 10px;
}
#missed_connection_form select {
    width: 100%;
    padding: 12px;
    border: 1px solid #aaa;
    border-radius: 4px;    
}
#missed_connection_form input[type="text"], #missed_connection_form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #aaa;
    border-radius: 4px;
    
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* ====== VIDEO STYLING ====== */
video::media-controls-fullscreen-button {
    display: none;
}
.missedconn, .home {
    display: block;
    position: fixed;
    width: 80%;
    z-index: -100;
    mask-image: radial-gradient(circle, black 80%, rgba(0, 0, 0, 0.5) 0%);
}

@media (max-width: 800px) {
    .missedconn, .home {
        display: block;
        position: fixed;
        height: 100vh;
        width: 100%;
    }
}

.festcolors {
    background: linear-gradient(45deg, rgba(44,121,179,1) 0%, rgba(112,41,255,1) 94%, rgba(151,26,167,1) 100%);
    font-size: 120%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* HTML: <div class="loader"></div> */
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
    color: #0a74ff;
    background:
      conic-gradient(from  -45deg at top    20px left 50% ,#0000 ,currentColor 1deg 90deg,#0000 91deg),
      conic-gradient(from   45deg at right  20px top  50% ,#0000 ,currentColor 1deg 90deg,#0000 91deg),
      conic-gradient(from  135deg at bottom 20px left 50% ,#0000 ,currentColor 1deg 90deg,#0000 91deg),
      conic-gradient(from -135deg at left   20px top  50% ,#0000 ,currentColor 1deg 90deg,#0000 91deg);
    animation: l4 1.5s infinite cubic-bezier(0.3,1,0,1);
  }
  @keyframes l4 {
     50%  {width:60px;height: 60px;transform: rotate(180deg)}
     100% {transform: rotate(360deg)}
  }

  #video-bg {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
  }
  #video-bg > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* 1. No object-fit support: */
  @media (min-aspect-ratio: 16/9) {
    body{ position: fixed; }
    #video-bg > video { height: 300%; top: -100%; }
  }
  @media (max-aspect-ratio: 16/9) {
    body{ height: 100vh;
        width: 100%; }
    
    #video-bg > video { width: 300%; left: -100%; }
  }
  /* 2. If supporting object-fit, overriding (1): */
  @supports (object-fit: cover) {
    #video-bg > video {
      top: 0; left: 0;
      width: 100%; height: 100%;
      object-fit: cover;
    }
  }