body { background: linear-gradient(90deg, rgba(31,31,31,1) 0%, rgba(12,34,54,1) 100%);}

.shadow_lg{
    text-shadow: 5px 5px 10px rgba(0,0,0,0.8);
}

.bg_top {
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    text-align: center;
    width: 100%;
    height: 60vh;
    margin: 20px 0;
    padding-top: 100px;
    position: relative;

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}


.missed_text {
    text-wrap: pretty;
}
.imText {
    display: inline;
    position: relative;
}

/* ====== FORM STYLES ======= */
#missed_connection_form div {
    padding: 5px;
    margin: 2px;
    border-bottom: 1px solid #666;
}
#missed_connection_form div:last-child {
    border-bottom: none;
}
#missed_connection_form label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    width: 400px;
    text-align: left;
    margin: 10px;
}
#missed_connection_form select {
    width: 100%;
    padding: 12px;
    border: 1px solid #aaa;
    border-radius: 4px;    
}
#missed_connection_form input[type="text"], #missed_connection_form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #aaa;
    border-radius: 4px;
    
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* ====== VIDEO STYLING ====== */
video::media-controls-fullscreen-button {
    display: none;
}
.missedconn, .home {
    display: block;
    position: absolute;
    width: 80%;
    z-index: -100;
    mask-image: radial-gradient(circle, black 80%, rgba(0, 0, 0, 0.5) 0%);
}

.festcolors {
    background: linear-gradient(45deg, rgba(44,121,179,1) 0%, rgba(112,41,255,1) 94%, rgba(151,26,167,1) 100%);
    font-size: 120%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}