select {
    option {
        color: #fff;
        background-color: #000000;
    }

    optgroup {
        color: #fff;
        background-color: #000000;
    }
}

.thumbnail-item {
    width: 80px;
}

.text-shadow-lg {
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1px #833700;
}