select {
    option {
        color: #fff;
        background-color: #000000;
    }

    optgroup {
        color: #fff;
        background-color: #000000;
    }
}

.thumbnail-item {
    width: 80px;
}